*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #212529;
}

header h2{
    color: white;
}

header h3{
    color: white;
}

section h2{
    color: white;
    margin: 50px;
}

.carousel-inner{
    
}

.container h1{
    color: white;
    margin: 35px;
}

.card{
    background-color: gray;
}

.row p{
    color: white;
}

.navbar{
    width: 100%;
}

.collapse{
    font-weight: bold;
}

.color-acento{
    color: blueviolet;
}

.c-item{
    height: 875px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-inner button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

.carousel-inner button:hover{
    background-color: rgb(92, 31, 150);
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
}

footer{
    background-color: #212529;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section .container{
    color: white
}

.form-group{
    color: white;
}

