@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 26px;
    }

    .carousel-caption p {
        font-size: 15px !important; 
    }

    .c-item{
        height: 675px;
    }

    .card{
        margin-top: 50px !important;
    }


}